<html>
    <body>
        <form> 
          name <input type="text" name="name"><br/>
          description <textarea name="description"></textarea><br/>
          value <input type="number" name="value" step="0.01"><br/>
          release_date <input type="date" name="release_date"><br/>
          category <input type="text" name="category"><br/>

          <button type="submit">Criar</button>

        </form>
    </body>
</html>